@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

.wrapper {
  min-height: 100vh;
  background-color: #FCB216;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}

.image-container {
  margin-bottom: 80px;
}

.fortune-image {
  height: 400px;
  width: 300px;
  object-fit: contain;
}

.generate-button {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  background-color: #7130DA;
  border: 2px solid #000000;
  border-radius: 0;
  box-shadow: 3px 3px 0 #000000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.generate-button:hover {
  transform: scale(1.05);
}

.generate-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  transform: none;
}

.button-text {
  font-family: 'Jacquard 24', serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  margin: 0;
}

.error-text {
  color: #ef4444;
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.loading-text {
  font-size: 32px;
  color: #000000;
  font-family: 'Jacquard 24', serif;
}

.fortune-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  max-width: 400px;
  border: 2px solid #000;
}

.fortune-text {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #2c2c2c;
  font-weight: 500;
  font-family: 'Arial', sans-serif;
  margin-bottom: 24px;
  width: 100%;
}

.fortune-subtext {
  font-size: 24px;
  color: #ef4444;
  font-family: 'Jacquard 24', serif;
}

/* Add title above fortune text */
.fortune-title {
  font-family: 'Jacquard 24', serif;
  font-size: 40px;
  color: #ef4444;
  margin-bottom: 16px;
  text-align: center;
}

.fortune-disclaimer {
  font-family: 'Arial', sans-serif;
  color: #ef4444;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  .fortune-image {
    height: 300px;
    width: 225px;
  }
  
  .image-container {
    margin-bottom: 60px;
  }
  
  .fortune-text {
    font-size: 20px;
    line-height: 28px;
  }
  
  .container {
    padding: 0 20px;
  }
}